body { background: #f982fb; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-search-0 { color: #3ac828; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #9f5a3c; font-size: 19px; margin-bottom: 5px; }
.block-notify-2 { color: #522a60; font-size: 19px; margin-bottom: 5px; }
.block-sms-3 { color: #9ec76a; font-size: 18px; margin-bottom: 5px; }
.block-router-4 { color: #d07c77; font-size: 19px; margin-bottom: 5px; }